.user-container{
    background-color: antiquewhite;
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;

}
#user-img{
    height: 50%;
    border-radius: 40%;

}